.khan__buy-link{
  display: inline-block;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  text-decoration: none;
  color: #2f80ed;
  padding-bottom: 1px;
}

.khan__buy-link:hover{
  border-bottom: 2px solid #2f80ed;
}